@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 54 100% 71%;
    --muted-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --card: 54 100% 71%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 162 100% 50%;
    --secondary-foreground: 0 0% 0%;

    --accent: 338 100% 71%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 0%;

    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 162 100% 50%;
    --muted-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --card: 54 100% 71%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 162 100% 50%;
    --secondary-foreground: 0 0% 0%;

    --accent: 338 100% 71%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 0%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
